---
import CategoryItem from '../components/CategoryItem.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="results-modal">
    <div class="overview">
      <h1 class="overview__title">Your Result</h1>
      <div class="overview__score">
        <p class="overview__score-value">76</p>
        <p class="overview__score-maximum">of 100</p>
      </div>
      <div class="overview__score-evaluation">
        <h2 class="overview__score-subtitle">Great</h2>
        <p class="overview__score-description">
          You scored higher than 65% of the people who have taken these tests.
        </p>
      </div>
    </div>

    <div class="summary">
      <h2 class="summary__title">Summary</h2>
      <ul class="summary__category-list">
        <CategoryItem
          score="80"
          label="Reaction"
          icon="images/icon-reaction.svg"
          color="red"
        /><CategoryItem
          score="92"
          label="Memory"
          icon="images/icon-memory.svg"
          color="orange"
        /><CategoryItem
          score="61"
          label="Verbal"
          icon="images/icon-verbal.svg"
          color="green"
        /><CategoryItem
          score="72"
          label="Visual"
          icon="images/icon-visual.svg"
          color="blue"
        />
      </ul>
      <button class="summary__continue-btn">Continue</button>
    </div>
  </div>
</Layout>

<script>
  const categoryScoreElements = document.getElementsByClassName('score-value');
  const categoryIconElements = document.getElementsByClassName(
    'results-summary__category-icon'
  );

  try {
    const data = fetch('https://server.com/data.json').then((response) =>
      response.json()
    );

    for (let i = 0; i < categoryScoreElements.length; i++) {
      categoryScoreElements[i].textContent = data[i].score;
      // categoryIconElements[i].src = data[i].icon;
    }
  } catch (error) {
    console.error(error);
  }
</script>

<style>
  .results-modal {
    width: 100%;
    height: 100%;
    display: grid;
    max-width: 38rem;
    box-shadow: 5px 5px 20px var(--dark-gray-blue-10);
  }

  .overview {
    background: linear-gradient(
      var(--light-slate-blue),
      var(--light-royal-blue)
    );
    padding: 1.5rem 3rem;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 2rem 2rem;
  }

  .overview__title {
    color: var(--light-lavender);
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .overview__score {
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .overview__score-value {
    font-size: 3rem;
    font-weight: bold;
  }

  .overview__score-maximum {
    font-size: 0.8rem;
    color: var(--light-lavender-50);
  }

  .overview__score-subtitle {
    margin-block: 0.5rem;
  }

  .overview__score-description {
    font-size: 0.9rem;
    color: var(--light-lavender);
  }

  .summary {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .summary__title {
    font-size: 1rem;
  }

  .summary__category-list {
    list-style: none;
  }

  .summary__continue-btn {
    color: var(--white);
    background: var(--dark-gray-blue);
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--dark-gray-blue);
    border-radius: 3rem;
    font-size: 1rem;
    transition:
      color 150ms,
      background-color 150ms;
  }

  .summary__continue-btn:hover {
    cursor: pointer;
    color: var(--dark-gray-blue);
    background-color: transparent;
  }

  @media (min-width: 40rem) {
    .results-modal {
      grid-template-columns: 1fr 1fr;
      border-radius: 2rem;
      overflow: hidden;
      height: auto;
    }

    .overview__score {
      width: 10rem;
      height: 10rem;
    }
  }
</style>
